<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prismOS.bilimusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bilimusic">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Bilimusic.normal"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize">
        </activity>
        <!-- 添加设置Activity，使用设置主题 -->
        <activity
            android:name=".SettingsActivity"
            android:label="设置"
            android:theme="@style/Theme.Bilimusic.normal"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MusicListsActivity"
            android:label="音乐列表"
            android:theme="@style/Theme.Bilimusic.normal"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>